In [1]:
import cv2
import os
from tqdm import tqdm
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
home = os.getcwd()

In [3]:
df = pd.read_csv('./tensorflow-great-barrier-reef/train.csv')

In [4]:
df[df['sequence'] == 22643]

,video_id,sequence,video_frame,sequence_frame,image_id,annotations
19265,2,22643,5363,0,2-5363,"[{'x': 701, 'y': 133, 'width': 49, 'height': 3..."
19266,2,22643,5364,1,2-5364,"[{'x': 701, 'y': 152, 'width': 40, 'height': 4..."
19267,2,22643,5365,2,2-5365,"[{'x': 693, 'y': 182, 'width': 40, 'height': 4..."
19268,2,22643,5366,3,2-5366,"[{'x': 684, 'y': 212, 'width': 40, 'height': 4..."
19269,2,22643,5367,4,2-5367,"[{'x': 678, 'y': 248, 'width': 40, 'height': 4..."
...,...,...,...,...,...,...
20508,2,22643,6606,1243,2-6606,[]
20509,2,22643,6607,1244,2-6607,[]
20510,2,22643,6608,1245,2-6608,[]
20511,2,22643,6609,1246,2-6609,[]
20512,2,22643,6610,1247,2-6610,[]

In [4]:
def crear_y_mover_carpeta():
    carpeta = 'videos'
    if not os.path.exists(carpeta):
        os.makedirs(carpeta)
        print(f'The folder has been created {carpeta}')
        
    os.chdir(carpeta)
    print(f'Now we are chainging {carpeta}')
    print(f'Current directory {os.getcwd()}')

In [5]:
def make_video(data, video_id, seq_id, home):      
    
    df_part = data.query(f'video_id == {video_id}').query(f'sequence == {seq_id}')
    imgp = '/runs/detect/predict4/'
    df_part['image_path'] = home + imgp + df_part['sequence_frame'].astype(str) + '.jpg'
    
    crear_y_mover_carpeta()
    
    fps = 10 
    width = 1280
    height = 720
    save_path = f'video_{video_id}_{seq_id}.avi'
    #tmp_path = f'tmp_video_{video_id}_{seq_id}.avi'    
        
    output_video = cv2.VideoWriter(save_path, cv2.VideoWriter_fourcc(*"DIVX"), fps, (width, height))

    for _, row in tqdm(df_part.iterrows(), total=len(df_part)):
        img = cv2.imread(row.image_path)
        output_video.write(img)
        
    output_video.release()
    
    os.chdir(home)
    
    print(os.getcwd())

In [6]:
make_video(data = df, video_id = 0, seq_id = 40258, home = home)

The folder has been created videos
Now we are chainging videos
Current directory /home/el_rancio_dave/Documents/IA/YOLO/videos

  1%|          | 5/480 [00:00<00:09, 48.07it/s]

100%|██████████| 480/480 [00:08<00:00, 54.22it/s]

/home/el_rancio_dave/Documents/IA/YOLO

In [6]:
make_video(data = df, video_id = 2, seq_id = 22643, home = home)

Now we are chainging videos
Current directory /home/el_rancio_dave/Documents/IA/YOLO/videos

  0%|          | 0/1248 [00:00<?, ?it/s]

100%|██████████| 1248/1248 [00:23<00:00, 52.57it/s]

/home/el_rancio_dave/Documents/IA/YOLO